<div class="body-wrapper">
  <div class="result-input">
    <input #resultInput/>
  </div>
  <div class="operations">
    <button (click)="sum()">+</button>
    <button (click)="diff()">-</button>
    <button (click)="mul()">*</button>
    <button (click)="div()">/</button>
  </div>
  <div class="numbers-and-result-wrapper">
    <div class="numbers">
      <div class="first-row">
        <button (click)="setNumber(7)">7</button>
        <button (click)="setNumber(8)">8</button>
        <button (click)="setNumber(9)">9</button>
      </div>
      <div class="second-row">
        <button (click)="setNumber(4)">4</button>
        <button (click)="setNumber(5)">5</button>
        <button (click)="setNumber(6)">6</button>
      </div>
      <div class="third-row">
        <button (click)="setNumber(1)">1</button>
        <button (click)="setNumber(2)">2</button>
        <button (click)="setNumber(3)">3</button>
      </div>
      <div class="fourth-row">
        <button (click)="setNumber(0)">0</button>
        <button (click)="setDot()">.</button>
        <button (click)="clearInput()">AC</button>
      </div>
    </div>
    <div class="result">
      <button (click)="showResult()">=</button>
    </div>
  </div>
</div>
